@import "./source/scss/base/_variable";

.login-bg {
    background: linear-gradient(rgba(0, 0, 0, .2), rgba(255, 255, 255, .1)), url(../../../assets/img/login-dark.jpg) center center !important;
    background-size: cover;
}

.normal-bg {
    background-color: #fff !important;
}

.login-container, .register-container {
  margin-top: 25vh;
  margin-bottom: 30vh;
  .panel {
    background: rgba(17,26,34, .5);
    color: $light;
    padding: 1em;
    margin-bottom: .4em;
    border-radius: .2em;
    button {
      margin-top: 1em;
      background-color: #447187;
      width: 100%;
      color: $light;
      cursor: pointer;
    }
    .err {
        font-size: .9rem;
        color: red;
    }
    .form-control {
        border: 1px solid rgba(0,0,0,.28);
        background-color: rgba(17,26,34, .2);
        color: $light;
    }
    .middle {
        display: flex;
        justify-content: space-between;
        color: $light;
        a {
            font-size: .8rem;
            @media (min-width: 330px) {
                font-size: 1rem;
            }
            color: #EBEFEF;
            &:active {
                color: #EBEFEF;
            }
        }
    }
  }
  justify-content: center;
  align-items: center;
  .outer {
      p {
          color: #EBEFEF;
          padding-right: .4em;
      }
      a {
          font-weight: bold;
          text-decoration: underline;
          color: #EBEFEF;
      }
      display: flex;
      margin-right: 0;
      margin-left: 0;
      justify-content: center;
  }
}
