@import "./source/scss/base/_variable";

.footer-container {
  background: $footer-bg-color;
  //margin-top: 2em;
  padding-top: 1.2em;
  padding-bottom: 1.2em;
  footer {
      .row {
          justify-content: space-between;
      }
    color: $footer-font-color;

    .copyright {
      padding: 0.4em 15px 0 15px;
      .author {
        color: $footer-font-color;
        font-weight: 800;
      }
    }
  }
}
