@import "./source/scss/base/_variable";


.message-box {
  background: white;
  border-radius: .2em;

  .row {
      overflow: auto;
      max-height: 30em;
  }

  .messages {
    min-height: 60vh;
    @media (min-width: 768px) {
        min-height: 40vh;
    }

    overflow: auto;
  }
  .not-in-channel {
      justify-content: center;
      flex-flow: row !important;
      align-items: center;
      text-align: center;
      font-size: 1.2rem;
      font-weight: 400;

      .stronger {
          font-weight: 500;
          padding: 0 5px 0 5px;
      }
  }
    .row {
        flex-flow: column;
        padding: 15px;
    }
    .send-area {
        .row {
            flex-direction: row;
            padding-top: .3em;
            padding-bottom: .4em;
        }
        button {
            border-radius: 0;
        }
        .form-control {
            border-top-right-radius: 0;
            border-bottom-right-radius: 0;
        }
    }
}
