@import "./source/scss/base/_variable";

.menu {
  display: flex;
  padding-left: 0;
  margin-bottom: 0;
  margin-top: .1em;
  .menu-item {
    margin-right: 5px;
    margin-left: 5px;
    color: $white;
    cursor: pointer;
    &:last-child {
      margin-right: 0;
    }
    &:hover, &:hover:active, &:active, &:focus, &:focus:active, &:focus:hover {
      font-weight: bold;
      text-decoration: underline;
    }

  }
  .menu-item-active {
      font-weight: bold;
      text-decoration: underline;
  }
}
