@import "./source/scss/base/_variable";
.channel-panel {
  .channel-title {
      font-size: 1.15rem;
      color: $light;
      padding: .2em 15px .2em 15px;
      margin-bottom: .4em;
      background: rgba(248, 248, 248, .1);
  }
  .channel-new {
    padding: .2em 15px .2em 15px;
    width: 100%;
    text-align: right;
  }
  .no-channels {
      padding: .6em 15px .6em 15px;
      text-align: center;
  }
  .subscribed-channels {
      padding: .2em 15px .4em 15px;
      margin-top: .2em;
      display: flex;
      flex-flow: column nowrap;
      font-size: .9rem;
      span {
          padding-top: .2em;
      }
  }
  .online-users {
      .comma {
      }
  }
  .channel-new, .no-channels, .online-users {
    font-size: .9rem;
  }
  .search-bar {
      padding: 5px 15px 5px 15px;
      input {
          width: 100%;
          border-radius: .2em;
          padding: 3px;
          border: 1px solid rgba(0,0,0,.28);
          background-color: #light;
          color: black;
          &::-webkit-input-placeholder {
              font-size: .9rem;
          }
      }
     .results {
         margin-top: .4em;
         display: flex;
         flex-flow: column nowrap;
         font-size: .9em;
         .result {
             margin-top: .2em;
             display: flex;
             justify-content: space-between;
             padding-bottom: .4em;
             padding-bottom: .4em;
             cursor: pointer;

             .size {
                 padding-left: .6em;
             }

             &:hover, &:hover:active, &:focus, &:focus:active {
                font-weight: 700;
                .join {
                    text-decoration: underline;
                    text-decoration-color: #ACA39B;
                }
             }
         }
     }
  }
}
