@import "./source/scss/base/_variable";
.header-container {
    background: $header-bg-color;
    margin-bottom: 4em;
    box-shadow: 0 -10px 40px -10px rgba(0, 0, 0, 0.7) inset;
    header {
        .row {
            justify-content: space-between;
            align-items: center;
        }
        padding-top: 2em;
        padding-bottom: 1.4em;
        // padding-top: .6em;
        // padding-bottom: .6em;
        color: $light;
        .logo {
            a {
                color: $white;
                &:hover, &:hover:active, &:active, &:focus, &:focus:active, &:focus:hover {
                  text-decoration: none;
                }
            }
            padding-left: 15px;
            padding-right: 15px;
            text-transform: uppercase;
            font-size: 1.2rem;
            font-weight: bold;
            figcaption {
                text-transform: lowercase;
                font-size: 0.7rem;
                padding-left: 42px;
            }
        }
        nav {
            margin: 1em auto;
            padding-left: 15px;
            padding-right: 15px;
            display: flex;
            justify-content: center;
            flex-flow: column;
            align-items: center;
            p.guest {
                margin: .2em 0 0 .7em;
                font-size: 0.6rem;
            }
            @media (min-width: 486px) {
                justify-content: flex-end;
                margin: 1em auto;
                p.guest {
                    margin: 0 0 0 .7em;
                    font-size: 0.8rem;
                }
            }
            @media (min-width: 768px) {
                flex-flow: row wrap;
            }
            @media (min-width: 992px) {
                margin: 0;
                p.guest {
                    margin-left: 2em;
                    font-size: 0.9rem;
                }
            }
        }
    }
}
