.row-center {
    justify-content: center;
}

.row-column {
  flex-direction: column;
}

.content {
  min-height: calc(100vh - 70px);
}
.footer {
  height: 50px;
}

.ml-0-25 {
    margin-left: .25em;
}
