$light: #F4F5F6;
$yellow: #E4B86D;
$dark: #39495A;

$body-bg-color: $light;
$body-text-color: #000000;

$header-bg-color: #111111;
$header-font-color: #light;

$footer-bg-color: #111111;
$footer-font-color: $light;

$footer-active-color: $yellow;
$footer-focus-color: $yellow;


